* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /* outline: 1px solid red; */

  font-family: 'Nunito', sans-serif;
}

a {
  display: flex ;
  align-items: center ;

  text-decoration: none;
  color: inherit;

  opacity: 0.8;
  font-weight: 500;  

}
a:hover {
  opacity: 1;
  
}

a svg {
  margin-right: 0.5rem ;
}

button {
  cursor: pointer;
}
